
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Annulation abonnement</title>
    <!-- Inclure les fichiers CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/confirmation.css') }}"> 
    <!-- Vous pouvez inclure vos styles CSS personnalisés ici -->
</head>
<body>
    <div class="container">
        <h3> Voulez-vous annulez votre abonnement ? </h3>
        <form action="/confirm_cancel_subscription" method="post">
            <input type="hidden" name="confirm" value="true">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger">Confirmer l'annulation</button>
            </div>
        </form>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <a href="/accueil" class="text-black font-weight-bold regStr"> Revenir vers la page d'accueil</a>
    </div>
    <!-- Inclure le script JavaScript de Bootstrap (optionnel si vous n'utilisez pas les fonctionnalités JavaScript de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
