<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégorie {{ categorie }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_PTD.jpg') }}">
</head>
<body>
    <div class="container mt-5">
        <form method="post">
            <h1>Questions sur le {{ categorie }} </h1>
            {% for question in questions %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ question.question }}</h5>
                    <div class="form-check">
                        {% for option, text in question.options.items() %}
                        <input class="form-check-input" type="radio" name="{{ question.question }}" id="{{ option }}" value="{{ option }}">
                        <label class="form-check-label" for="{{ option }}">{{ text }}</label><br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <input type="hidden" name="participant_id" value="{{ participant_id }}">
            <button type="submit" class="btn btn-primary mt-3">Soumettre</button>
        </form>
        <p><a href="{{ url_for('accueil') }}" class="btn btn-primary mt-3">Retour à l'accueil</a></p>
    </div>
</body>
</html>