<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="graph"></div>
    <textarea id="graphData" style="display: none;">{{graph_json | safe }}</textarea>
    <script>
        var graphJson = document.getElementById('graphData').value;
        Plotly.newPlot('graph', JSON.parse(graphJson));
    </script>
    <p><a href="{{ url_for('accueil') }}" class="btn btn-primary mt-3">Retour à l'accueil</a></p>
</body>
</html>

