<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/dashboard.css') }}"> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="graph"></div>
    <textarea id="graphData" style="display: none;">{{graph_json | safe }}</textarea>
    <script>
        var graphJson = document.getElementById('graphData').value;
        Plotly.newPlot('graph', JSON.parse(graphJson));
    </script>
    <div class="centered">
        <a href="{{ url_for('accueil') }}" class="btn btn-primary mt-3">Retour à l'accueil</a>
    </div>
</body>
</html>
