<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Quiz PTD</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css?v=1" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_PTD.jpg') }}">
    <style>
    body {
        background-image: url("{{ url_for('static',filename=image_background)}}");
        background-size: cover;
        background-repeat: no-repeat;
        color: #000;
    }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="centered-text">Bienvenue à la page des Quiz ! Association Préserve ton droit</h1>
        <img src="{{ url_for('static', filename=image_filename) }}" alt="Image PTD"  class="img-custom">
        <h2 class="centered-text top-margin">Choisissez une des catégories suivantes que vous souhaitez prendre :</h2>
        <div class="row mt-3">
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='droit') }}" class="btn btn-primary btn-lg btn-block">Droit</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='humanitaire') }}" class="btn btn-success btn-lg btn-block">Humanitaire</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='culturel') }}" class="btn btn-info btn-lg btn-block">Culturel</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='sociologie') }}" class="btn btn-warning btn-lg btn-block">Sociologie</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 offset-md-4">
            <a href="{{ url_for('dashboard', categorie='resultats') }}" class="btn btn-secondary btn-lg btn-block">Résultats de Visualisation</a> 
            </div>
        </div>
    </div>
</body>
</html>
