<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920,height=1080, initial-scale=1">
    <title>Accueil PTDlegalQuiz</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css?v=1" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/sidebar.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_PTD.jpg') }}">
    <style>
        body {
            background-image: url("{{ url_for('static',filename=image_background)}}");
            background-size: cover;
            background-repeat: no-repeat;
            color: #000;
            overflow: auto; 
            min-height: 100%;
        }
        #contact {
            background-image: url("{{ url_for('static',filename=image_background_contact)}}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right center;
            color: white;
        }
    </style>
</head>
<body>
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon" style="padding-bottom: 18px;"></i>
            <span class="logo-name" style="padding-bottom: 20px;">Menu application</span>
        </div>
        <div class="sidebar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"> </i>
                <span class="logo-name"> Préserve ton droit</span>
            </div>
                <div class="sidebar-content">
                    <ul class="lists">
                    <li class="list">
                        <a href="{{ url_for('accueil')}}" class="nav-link">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="link">Accueil</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{ url_for('dashboard', categorie='resultats') }}" class="nav-link">
                        <i class="bx bxs-dashboard icon"></i>
                        <span class="link">Dashboard et classement</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{ url_for('resultats') }}" class="nav-link">
                        <i class="bx bx-list-check icon"></i>
                        <span class="link">Vos résultats</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                        <i class="bx bx-group icon"></i>
                        <span class="link">Qui sommes-nous ?</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                        <i class="bx bx-calendar-event icon"></i>
                        <span class="link">Événements</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                        <i class="bx bx-bookmark icon"></i>
                        <span class="link">Projets</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                        <i class="bx bx-envelope icon"></i>
                        <span class="link">Abonnements</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{{ url_for('logout') }}" class="nav-link">
                          <i class="bx bx-log-out icon"></i>
                          <span class="link" >Déconnexion </span>
                        </a>
                      </li>
                    </ul>
                    </div>
                </div>
            </div>   
        </nav>
        <section class="overlay"></section>
        <script src="{{ url_for('static', filename='js/menu_bar.js') }}"></script>
        
    <aside class="aside-background">
        <div class="social-icons">
            <a href="https://www.instagram.com/preservetondroit/?next=https%3A%2F%2Fwww.instagram.com%2Fmanav.manglani%2Fp%2FBv3PDqigZZZ%2F%3F__coig_login%3D1" target="_blank" class="btn btn-light">
                <img src="{{ url_for('static', filename='images/instagram_logo.jpeg') }}" alt="Instagram" class="social-logo"> Instagram</a>
            <a href="https://twitter.com/PrsvTonDroit" target="_blank" class="btn btn-light" >
                <img src="{{ url_for('static', filename='images/twitter_logo.png') }}" alt="Twitter" class="social-logo" > Twitter</a>
            <a href="https://www.tiktok.com/@preservetondroit?_t=8l4BIYlTWO9&_r=1"  target="_blank" class="btn btn-light" >
                <img src="{{ url_for('static', filename='images/tiktok_logo.png') }}" target="_blank" alt="TikTok" class="social-logo"> Tiktok</a>
            <a href="https://www.paypal.com/paypalme/PreserveTonDroit"  target="_blank" class="btn btn-light" >
                <img src="{{ url_for('static', filename='images/paypal_logo.png') }}" target="_blank" alt="Paypal" class="social-logo">Paypal</a>
            <a href="https://www.cotizup.com/actionougandaptd-rco"  target="_blank" class="btn btn-light" >
                <img src="{{ url_for('static', filename='images/cotizup_logo.jpeg') }}" target="_blank" alt="Cotizup" class="social-logo">Cotizup</a>
        </div>
    </aside>    
    
    <section id="banner">
        <div class="title">
            <h1>Bienvenue à la page de PTDlegalQuiz ! </h1>
            <h2>Rejoignez-nous pour apprendre et agir.</h2>
            <h2>Découvrez maintenant l'association à travers les deux vidéos</h2>
        </div>
    </section>

    <div class="video"> 
        <video width="510" height="410" controls>
            <source src="{{ url_for('static', filename='videos/Qui_sommes_nous_PTD.mp4') }}" type="video/mp4">
        </video>
        <video width="510" height="410" controls>
            <source src="{{ url_for('static', filename='videos/don_association.mp4') }}" type="video/mp4">
        </video>
    </div>
    <script src="{{ url_for('static', filename='js/videos.js') }}"></script>
    <section id="description">
        <div class="container">
            <p><strong> PTDlegalQuiz est une application pédagogique de concours de quiz qui propose une expérience 
            enrichissante dans quatre catégories distinctes : droit, juridique, humanitaire et sociologie. </strong>
            Chaque participant a l'opportunité de tester ses connaissances dans chacune de ces catégories, avec une 
            participation unique autorisée par catégorie. Une fois que vous avez soumis aux questionnaires, 
            les résultats sont affichés sur une page dédiée à la visualisation.  </br> 
            <strong> <span style="background-color: rgba(240,128,128); color: black;"> Après avoir soumis, vous pouvez encore retenter une fois si vous avez besoin refaire ! </br> 
            Le classement prend en compte si vous avez choisi tout les catégories. </br> 
            Chaque catégorie possède un total de 30 questions et les questionnaires sont mélangés aléatoirement.
            Vous avez 10 minutes pour répondre à tout les questions. A savoir si vous sortez du quiz, vous perdrez 30 secondes chaque fois que cela se produira, au bout la deuxième fois. </br>  </span> 
            Au niveau des récompenses, on peut proposer <span style="background-color: rgba(102, 204, 153); color: black;"> soit des livres juridiques, 
            des produits alimentaires, des vêtements, des produits high-tech à gagner ! </span> 
            <div style="text-align:center"> Bon courage à vous ! Amusez-vous bien ! </br> 
            En cas de problème, n'hésitez pas de nous contacter ci-dessous 👇</style> </strong>
            </p>
        </div>
    </section>

        <img src="{{ url_for('static', filename=image_filename) }}" alt="Image PTD"  class="img-custom">
        <h2 class="centered-text top-margin">Choisissez une des catégories suivantes que vous souhaitez prendre :</h2>
        <div class="container mt-5" style="margin-bottom: 100px;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        <div class="row mt-3">
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='droit') }}" class="btn btn-primary btn-lg btn-block">Droit</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='humanitaire') }}" class="btn btn-success btn-lg btn-block">Humanitaire</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='culturel') }}" class="btn btn-info btn-lg btn-block">Culturel</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('categorie_questions', categorie='sociologie') }}" class="btn btn-warning btn-lg btn-block">Sociologie</a>
            </div>
        </div>
    </div>
    <section id="contact" style="padding: 40px 100px; margin-top: 10px;">
        <div class="container">
            <h2 class="text-left">Contactez-nous</h2>
            <p class="text-left">Pour toute question ou demande d'information, veuillez remplir le formulaire ci-dessous :</p>
            <form action="{{ url_for('contact') }}" method="post">
                <div class="form-group">
                    <label for="nom" style="font-weight: bold;">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom" style="border-color: #eeeeee; width: 400px; height: 38px;" required>
                </div>
                <div class="form-group">
                    <label for="email" style="font-weight: bold;">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre email" style="border-color: #eeeeee; width: 400px; height: 38px;" required>
                </div>
                <div class="form-group">
                    <label for="tel" style="font-weight: bold;">Numéro Téléphone</label>
                    <input type="tel" class="form-control" id="tel" name="tel" placeholder="Votre numéro téléphone" style="border-color: #eeeeee; width: 400px; height: 38px;" required>
                </div>
                <div class="form-group">
                    <label for="message" style="font-weight: bold; ">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3" placeholder="Votre message" style="border-color: #eeeeee; width: 550px; height: 150px; " required></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #0056b3; border-color: #eeeeee;">Envoyer</button>
            </form>
        </div>
    </section>

    <footer class="bg-dark text-white text-center py-2">
        <p>&copy; 2024 Association Préserve ton Droit. Tous droits réservés. Developpé par Vincent TRAN. Contact: assopreservetondroit@gmail.com Tel: 06 15 42 08 99</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
