<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920,height=1080, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/sidebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet">
    <title>Fin de paiement</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Merci beaucoup ! </h1>
        <p class="lead">Vous recevrez un lien vers le produit dans votre e-mail.</p>
        <a href="/accueil" class="text-black font-weight-bold regStr"> Revenir vers la page accueil</a>
      </div>
    </div> 
  </body>
</html>