<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de mail</title>
    <!-- Inclure les fichiers CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/confirmation.css') }}"> 
    <!-- Vous pouvez inclure vos styles CSS personnalisés ici -->
</head>
<body>
    <div class="container">
        <h1>Confirmation de mail</h1>
        <p>{{ message }}</p>
        <a href="/" class="text-black font-weight-bold regStr"> Revenir vers la page connexion</a>
    </div>
    <!-- Inclure le script JavaScript de Bootstrap (optionnel si vous n'utilisez pas les fonctionnalités JavaScript de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
