body {
    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard */
    background-color: #F8F8F8;  /* Light seasalt */
}

.custom-navbar {
    background-color: #B6BBED; /* Lavande vive */
    color: #000;  /* Noir */
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #A9215A; /* Rouge foncé */
}

.custom-progress-container {
    width: 50%;
    background-color: #E0E0E0;
    border-radius: 10px;
    height: 20px;
    margin: 20px auto;
}

.custom-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #A9215A; /* Rouge foncé */
    border-radius: 10px;
    text-align: center;
    line-height: 30px; /* Same as height of the progress container */
    color: white;
    font-weight: bold;
}

.custom-card {
    background-color: #FFF; /* White for contrast */
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.custom-btn-previous {
    background-color: #FFA500; /* Orange dorée */
    border: none;
    color: white;
    font-weight: bold;
}

.custom-btn-next {
    background-color: #7A5CFF; /* Jaune dorée */
    border: none;
    color: white;
    font-weight: bold;
}

.custom-btn-submit {
    background-color: #A9215A; /* Rouge foncé */
    border: none;
    color: white;
    font-weight: bold;
}

.custom-btn-previous:hover, .custom-btn-next:hover, .custom-btn-submit:hover {
    background-color: #000; /* Noir pour hover */
    color: white;
}

.hidden {
    display: none;
}