/* Ajoutez vos styles personnalisés ici */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 0 auto;
    max-width: 600px;
}
h1 {
    color: #333333;
    text-align: center;
}
p {
    color: #666666;
    font-size: 18px;
}

.regStr {
    transition: .25s;
    padding-bottom: 4px;
    border-bottom: 2px solid gray;
    color: #212519;
}
.regStr:hover {
    border-bottom: 2px solid #ff425f;
    padding-bottom: 8px;
    transition: .25s;
    text-decoration: none;
    color: #212519;
}

/* Styles pour les étoiles */
.rating {
    margin: 20px 0;
    text-align: center;
}
.star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.25s;
}
.star.active,
.star.selected {
    color: #ffc107; /* Couleur jaune pour les étoiles actives/sélectionnées */
}

header {
    font-size: 22px; /* Taille de police identique à celle du header */
    color: #dadada;
    text-align: center;
    color: black;
}

#thank-you-message {
    font-size: 22px; /* Taille de police identique à celle du header */
    color: #dadada;
    text-align: center;
    color: black;
    margin-top: 20px; /* Espacement du haut */
  }

.small-font {
    font-size: 24px; /* Choisissez une taille de police appropriée */
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-link {
    margin-top: 20px; /* Choisissez la valeur de marge appropriée */
}

/* Media Queries pour rendre le site responsive */
@media (max-width: 600px) {
    body {
        padding: 10px; /* Réduit le padding pour les petits écrans */
    }

    .container {
        padding: 20px; /* Réduit le padding pour les petits écrans */
        width: 100%; /* Prend toute la largeur sur mobile */
    }

    h1 {
        font-size: 24px; /* Ajuste la taille du titre */
    }

    p {
        font-size: 16px; /* Réduit la taille du texte */
    }

    .star {
        font-size: 20px; /* Ajuste la taille des étoiles */
    }

    .small-font {
        font-size: 20px; /* Ajuste la taille de la petite police */
    }

    .link-container {
        align-items: center; /* Centre les liens pour une meilleure lisibilité */
    }
}