.centered {
    text-align: center;
}

 /* Ajout de bordures et d'ombres pour les graphiques */
 .graph-container {
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre */
    padding: 10px; /* Espacement intérieur */
    margin-bottom: 20px; /* Marge inférieure pour séparation */
}

body {
    background-color: #f0f0f0; /* Couleur gris clair */
    position: relative;
    overflow: auto; 
    min-height: 100%;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(128, 128, 128, 0.5), transparent); /* Couleur gris foncé */
    pointer-events: none;
}

.container {
    position: relative;
    z-index: 1; /* Assure que le contenu reste au-dessus de l'arrière-plan réfléchi */
}

.img-custom {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0%;
    left: 95.2%;
}


.graph-top-container {
    padding-left: 500px; /* Réglez la valeur de padding-left selon vos besoins */
}

h1 {
    text-indent: 50px;
    color: #343a40;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;

}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0px solid #dee2e6;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
    color: #fff;
}

th {
    background-color: #007bff;
    color: #fff;
}


.background-rectangle {
    width: 96.4%;
    height: 100%;
    background-color: rgb(40, 55, 71);
}

.button-accueil{
    margin-left: 42%;
}