/* Couleur de fond de la page */
body {
  background-color: #f2f2f2;
}

.container {
  padding-top: 100px; /* Ajuste la valeur selon tes besoins */
}


.profile-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Style pour les sections de cartes */
.card {
  border-radius: 10px;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
}

/* Style pour les titres de section */
.section-title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Bouton Modifier le profil */
.btn-lg {
  padding: 15px 30px;
  font-size: 18px;
  text-transform: uppercase;
}

/* Listes d'abonnements et essais restants */
.list-group-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* Style pour les titres dans les listes */
.list-group-item h5 {
  color: #007bff;
  font-size: 20px;
  margin-bottom: 10px;
}

.list-group-item p {
  color: #555;
}

/* Icônes */
.bx {
  vertical-align: middle;
  margin-right: 8px;
}

.no-subscriptions {
  text-align: center;
  color: #999;
  padding: 20px;
}
