@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.aside-background {
  display: flex;
  position: static;
  background-color: rgba(37,37,37);
  padding: 25px; 
}

.social-icons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 13%;
  right: 25px;
}
.social-icons a {
  margin: 0 10px; /* Marge entre les éléments */
}

.social-logo {
  width: 30px; /* Redimensionner tous les logos en 30px de largeur */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  margin-right: 3px; /* Espacement entre les logos */
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background:   rgba(37,37,37);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Valeur élevée pour s'assurer que le menu soit devant les autres éléments */
}

nav .logo {
  top: 0;
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  position: sticky;
  color: white;
  font-size: 28px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  position: sticky;
  color: white;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    height: 100%;
    width: 280px;
    background-color:  rgba(17, 58, 122);
    color: white;
    padding: 20px;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
  left: 0;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 10px;
  border-radius: 8px;
  text-decoration: none;
}

.lists .nav-link:hover {
  background-color: #A9215A;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: white;
}
.nav-link .link {
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 900vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 280px;
  pointer-events: auto;
}

.menu-icon {
  transition: color 0.3s ease; /* Ajoute une transition pour rendre le changement plus fluide */
}

.menu-icon:hover {
  color: rgba(255, 221, 112); /* Change la couleur en vert lors du survol */
}

/* Pour les mobiles (jusqu'à 600px) */
@media only screen and (max-width: 600px) {
  
nav {
    display: flex;
    justify-content: space-between; /* Espacer le logo à gauche et les boutons à droite */
    align-items: center;
    padding: 10px 1px; /* Ajouter du padding pour ne pas coller les éléments au bord */
}

nav .sidebar {
  padding: 5px;
}

.nav-link .icon {
  margin-right: 12px;
  font-size: 12px;
}
.nav-link .link {
  font-size: 12px;
}

nav .sidebar {
  width: 230px;
}

.logo .menu-icon {
  font-size: 15px; /* Réduire la taille de l'icône */
  margin-right: 10px;
}

.logo .logo-name {
  font-size: 10px; /* Réduire la taille du texte du logo */
}

.btn.btn-light {
  padding: 3px 0.8px;   /* Réduction du padding sur petits écrans */
  font-size: 6px;     /* Taille de texte plus petite */
  margin-right: 0.5px;         /* Réduction de l'espacement */
  margin-top: 15px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin: 0 5px; /* Ajuster l'espacement entre les boutons blancs */
}

.social-logo {
  width: 11px; /* Redimensionner tous les logos en 30px de largeur */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  margin-right: 3px; /* Espacement entre les logos */
}

.aside-background {
  padding: 20px; /* Moins d'espace autour du conteneur */
}
}