
.bg-gray {
	background-color: rgb(142, 210, 241);
}
.section-title {
	text-align: center;
	margin-bottom: 57px;
	.subtitle {
		font-size: 20px;
		font-weight: 600;
		color:  #197beb;
		line-height: 26px;
		display: block;
	}
	.title {
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 18px;
		font-weight: 700;
	}
	p {
		font-size: 16px;
		color:  #818181;
		max-width: 720px;
		margin: 0 auto;
	}
}
.video-tutorial {
	padding: 110px 0 0 0;
	.demo-wrapper {
		margin-bottom: 40px;
		.title {
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 30px;
			display: block;
			text-align: center;
		}
	}
}
.price-plan-wrapper {
	padding: 0 0 60px 0;
}

.pricing-table-14 {
	text-align: center;
	transition: 0.3s ease-in;
	position: relative;
	z-index: 0;
	overflow: hidden;
	box-shadow: 0 0 7px 0 rgba(254, 255, 255, 0.912);
	margin-bottom: 30px;
	.price-header {
		position: relative;
		padding: 30px 0 25px;
		background-color: rgb(142, 210, 241);
		transition: 0.3s ease-in;
		.permonth {
			position: absolute;
			left: 50%;
			bottom: -20px;
			background-color: rgba(46, 85, 211, 0.8);
			padding: 10px 35px;
			border-radius: 25px;
			transform: translateX(-50%);
			box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.1);
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
			color:  white;
		}
		.title {
			color: #282828;
			font-size: 21px;
			line-height: 26px;
			text-transform: uppercase;
			font-weight: 600;
			margin-top: 20px;
			transition: 0.3s ease-in;
			margin-bottom: 15px;
		}
	}
	&:hover {
		.price-header {
			background-color: #3367d6;
			.title {
				color: white;
			}
		}
		.price {
			color: white;
		}
	}
	.price {
		font-size: 50px;
		color: #282828;
		font-weight: 800;
		text-align: center;
		position: relative;
		transition: 0.3s ease-in;
		margin-bottom: 15px;
		.dollar {
			font-size: 33px;
			line-height: 33px;
			position: relative;
			top: -12px;
		}
	}
	.price-footer {
		margin-top: 40px;
		.order-btn {
			display: inline-block;
			width: 165px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			font-size: 14px;
			text-transform: uppercase;
			border-radius: 25px;
			color: white;
			transition: 0.5s ease-in;
			font-weight: 600;
			position: relative;
			overflow: hidden;
			margin-bottom: 30px;
			background-color: #3367d6;
			&:hover {
				box-shadow: 0 0 21px 0 rgba(51, 103, 214, 0.7);
			}
		}
	}
	.price-body ul {
		margin: 0;
		padding: 0;
		margin-top: 40px;
		li {
			list-style: none;
			display: block;
			color: rgba(0, 0, 0);
			margin: 0 30px;
			padding: 15px 0;
			transition: 0.3s ease-in;
			border-bottom: 1px solid #e7eefe;
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
