<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920,height=1080, initial-scale=1">
    <title>Mes abonnements</title>  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css?v=1" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/my_souscription.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/sidebar.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <div class="container mt-5">
      <h1 class="mb-4 small-font">Mes Abonnements</h1>
      <div class="list-group">
        {% if subscriptions %}
          {% for subscription in subscriptions %}
          <div class="list-group-item">
            <h5 class="mb-1">{{ subscription.name_product }}</h5>
            <p class="mb-1">Date de souscription: {{ subscription.date_creation.strftime('%d %B, %Y') }}</p>
            <form action="/cancel_subscription" method="post">
              <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
              <button type="submit" class="btn btn-danger">Annuler l'abonnement</button>
            </form>
          </div>
          {% endfor %}
        {% else %}
          <h5>Vous n'avez pas souscrit à un abonnement.</h5>
        {% endif %}
        <h1 class="mb-4 small-font">Nombre d'essais restants pour chaque catégorie</h1>
        {% for categorie, nb_essais in essais_restants_par_categorie.items() %}
        <div class="list-group-item">
            <h5 class="mb-1">{{ categorie }}</h5>
            <p class="mb-1">Essais restants: {{ nb_essais }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
