<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profil.css') }}"> 
    <link href="{{ url_for('static', filename='styles/sidebar.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Informations Personnelles</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nom:</strong> {{ user.nom if user.nom else "" }}</li>
                    <li class="list-group-item"><strong>Prénom:</strong> {{ user.prenom if user.prenom else "" }}</li>
                    <li class="list-group-item"><strong>Adresse:</strong> {{ user.adresse if user.adresse else "" }}</li>
                    <li class="list-group-item"><strong>Code Postal:</strong> {{ user.code_postal if user.code_postal else "" }}</li>
                    <li class="list-group-item"><strong>Ville:</strong> {{ user.ville if user.ville else "" }}</li>
                    <li class="list-group-item"><strong>Pays:</strong> {{ user.pays if user.pays else "" }}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Autres Informations</h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Niveau d'Étude:</strong> {{ user.niveau_etude if user.niveau_etude else "" }}</li>
                    <li class="list-group-item"><strong>Statut:</strong> {{ user.statut if user.statut else "" }}</li>
                    <li class="list-group-item"><strong>Centre d'Intérêt:</strong> {{ user.centre_interet if user.centre_interet else "" }}</li>
                    <li class="list-group-item"><strong>Choix Catégorie:</strong> {{ user.choix_categorie if user.choix_categorie else "" }}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
