<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920,height=1080, initial-scale=1">
    <title>Accueil - PTD</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css?v=1" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/sidebar.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <section id="banner">
        <div class="title">
            <h1>Bienvenue à la page de l'association Préserve Ton Droit ! </h1>
            <h2>Rejoignez-nous pour apprendre et agir.</h2>
            <h2>Découvrez maintenant l'association à travers les deux vidéos</h2>
        </div>
    </section>

    <div class="video"> 
        <video width="510" height="410" controls>
            <source src="{{ url_for('static', filename='videos/Qui_sommes_nous_PTD.mp4') }}" type="video/mp4">
        </video>
        <video width="510" height="410" controls>
            <source src="{{ url_for('static', filename='videos/video-court-metrage-hackathon.mp4') }}" type="video/mp4">
        </video>
    </div>
    <script src="{{ url_for('static', filename='js/videos.js') }}"></script>
    <section id="description">
        <div class="container">
            <p><strong>Ton droit, ton choix est une plateforme de concours de quiz offrant une expérience captivante 
            à travers quatre catégories distinctes : droit, juridique, humanitaire et sociologie. </strong>
            Chaque participant peut tester ses connaissances dans chacune de ces catégories.
            Après avoir complété les questionnaires, les résultats sont affichés sur une page dédiée. </br> 
            <strong> <span style="color: rgba(155, 10, 10, 0.98);">
            Le classement prend en compte votre participation dans toutes les catégories, 
            à condition que vous ayez sélectionné au moins un sujet qui vous intéresse. 
            Vous bénéficiez de deux essais gratuits par catégorie après avoir fait votre premier choix de sujet ! </br> </span> 
            Quant aux récompenses, vous pourrez gagner </span> <span style="color: rgb(39, 120, 80);"> des livres juridiques, 
            des produits alimentaires, des vêtements ou encore des articles high-tech.</span> 
        </div>
    </section>
        <h2 class="centered-text top-margin">Choisissez des catégories suivantes que vous souhaitez prendre :</h2>
        <div class="container mt-5" style="margin-bottom: 100px;">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
            <div class="alert alert-info">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}
        <div class="row mt-3">
            <div class="col-md-3">
                <a href="{{ url_for('choice_categories', choice_categorie='droit') }}" class="btn btn-primary btn-lg btn-block">Droit</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('choice_categories', choice_categorie='humanitaire') }}" class="btn btn-success btn-lg btn-block">Humanitaire</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('choice_categories', choice_categorie='vulgarisation') }}" class="btn btn-info btn-lg btn-block">Vulgarisation</a>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('choice_categories', choice_categorie='sociologie') }}" class="btn btn-dark btn-lg btn-block">Sociologie</a>
            </div>
        </div>
        <div class="row mt-4">
            <div style="text-align:center"> <p><strong>Si vous souhaitez participer à nouveau au quiz ou connaitre plus votre progression, 
                veuillez souscrire à un abonnement pour découvrir les offres disponibles.👇(Abonnement non disponible) </br> 
                <div class="col-md-4 offset-md-4" style="padding-left: 20px; margin-bottom: 20px;">
                    <!-- <a href="{{ url_for('souscription') }}" class="btn btn-warning btn-lg btn-block">S'abonner</a>  -->
                     <a href="#" class="btn btn-warning btn-lg btn-block">S'abonner</a> 
                </div>
                Si vous rencontrez des difficultés, n'hésitez pas à nous contacter ci-dessous. 👇 </style> </strong> </p> 
            </div>
        </div>
    </div>
    <section id="contact" style="padding: 40px 100px;">
        <div class="container">
            <h2 class="text-left">Contactez-nous</h2>
            <p class="text-left">Pour toute question ou demande d'information, veuillez remplir le formulaire ci-dessous :</p>
            <form action="{{ url_for('contact') }}" method="post">
                <div class="form-group">
                    <label for="nom" style="font-weight: bold;">Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom" style="border-color: #eeeeee; width: 400px; height: 38px;" required>
                </div>
                <div class="form-group">
                    <label for="email" style="font-weight: bold;">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre email" style="border-color: #eeeeee; width: 400px; height: 38px;" required>
                </div>
                <div class="form-group">
                    <label for="tel" style="font-weight: bold;">Numéro Téléphone</label>
                    <input type="tel" class="form-control" id="tel" name="tel" placeholder="Votre numéro téléphone" style="border-color: #eeeeee; width: 400px; height: 38px;" required>
                </div>
                <div class="form-group">
                    <label for="message" style="font-weight: bold; ">Message</label>
                    <textarea class="form-control" id="message" name="message" rows="3" placeholder="Votre message" style="border-color: #eeeeee; width: 550px; height: 150px; " required></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: #0056b3; border-color: #eeeeee;">Envoyer</button>
            </form>
        </div>
    </section>

    <footer class="bg-dark text-white text-center py-2">
        <p>&copy; 2024 Association Préserve ton Droit. Tous droits réservés. Developpé par Vincent TRAN. Contact: assopreservetondroit@gmail.com Tel: 06 15 42 08 99</p>
    </footer>

    <!-- Script Chatbot -->
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
    window.botpressWebChat.init({
        "composerPlaceholder": "Tapez votre message ici...",
        "botConversationDescription": "Nous sommes ici pour vous aider !",
        "botId": "e65acda0-a401-4abf-9229-870cedc63f9b",
        "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
        "messagingUrl": "https://messaging.botpress.cloud",
        "clientId": "e65acda0-a401-4abf-9229-870cedc63f9b",
        "webhookId": "01a2a9b5-3d3c-4af5-b85f-042c2b587bc7",
        "lazySocket": true,
        "themeName": "prism",
        "botName": "PTD Assist",
        "stylesheet": "https://webchat-styler-css.botpress.app/prod/code/46f4e45c-83ee-4578-9d35-bc3d43610ac5/v94922/style.css",
        "frontendVersion": "v1",
        "useSessionStorage": true,
        "theme": "prism",
        "themeColor": "#2563eb",
        "allowedOrigins": []
    });
    </script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
