<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégorie {{ categorie }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/categorie.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light custom-navbar">
        <a class="navbar-brand">Test sur {{ categorie }} sur le sujet {{ sujet.replace('_', ' ') }} </a>
    </nav>
    <div id="progressContainer" class="custom-progress-container">
        <div id="progressBar" class="custom-progress-bar"></div>
    </div>
    <div class="container mt-5">
        <form id="questionnaireForm" method="post">
            <div class="card mt-3 custom-card">
                <div class="card-body">
                    <h5 class="card-title">{{ current_question.number }}- {{ current_question.question }}</h5>
                    <div class="form-check">
                        {% if current_question.options %}
                        {% for option, text in current_question.options.items() %}
                            <input class="form-check-input" type="radio" name="answer" id="{{ option }}" value="{{ option }}" {% if option in saved_answers %}checked{% endif %}>
                            <label class="form-check-label" for="{{ option }}">{{ text }}</label><br>
                        {% endfor %}
                        {% endif %}
                        {% if current_question.multi_options %}
                        {% for option, text in current_question.multi_options.items() %}
                            <input class="form-check-input" type="checkbox" name="answer" id="{{ option }}" value="{{ option }}" {% if option in saved_answers %}checked{% endif %}>
                            <label class="form-check-label" for="{{ option }}">{{ text }}</label><br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <input type="hidden" name="current_question_index" value="{{ current_question_index }}">
            <input type="hidden" name="participant_id" value="{{ participant_id }}">
            {% if current_question_index > 0 %}
            <button type="submit" class="btn btn-secondary mt-3 custom-btn-previous" name="action" value="previous" id="previousButton">Précédent</button>
            {% endif %}
            {% if current_question_index < total_questions - 1 %}
            <button type="submit" class="btn btn-primary mt-3 custom-btn-next hidden" name="action" value="next" id="nextButton">Suivant</button>
            {% else %}
            <button type="submit" class="btn btn-primary mt-3 custom-btn-submit hidden" name="action" value="submit" id="submitButton">Soumettre</button>
            {% endif %}
        </form>
    </div> 
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
</body>
</html>
