<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégorie {{ categorie }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/categorie.css') }}"> 
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
</head>
<body>
    <div id="progressContainer">
        <div id="progressBar"></div>
    </div>
    <div class="container mt-5">
        <form id="questionnaireForm" method="post">
            <h1>Test sur {{ categorie }} </h1>
            {% for question in questions %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title"> {{ question.number }}- {{ question.question }}</h5>
                    <div class="form-check">
                        {% if question.options %}
                        {% for option, text in question.options.items() %}
                            <input class="form-check-input" type="radio" name="{{ question.question }}" id="{{ option }}" value="{{ option }}">
                            <label class="form-check-label" for="{{ option }}">{{ text }}</label><br>
                        {% endfor %}
                    {% endif %}
                    {% if question.multi_options %}
                        {% for option, text in question.multi_options.items() %}
                            <input class="form-check-input" type="checkbox" name="{{ question.question }}" id="{{ option }}" value="{{ option }}">
                            <label class="form-check-label" for="{{ option }}">{{ text }}</label><br>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <input type="hidden" name="participant_id" value="{{ participant_id }}">
            <button type="submit" class="btn btn-primary mt-3">Soumettre</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
</body>
</html>
