<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correction Quiz - PTD</title>
    <!-- Inclure les fichiers CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Détails des réponses pour la catégorie: {{ categorie }} pour le sujet {{ sujet }}</h1>
        <ul class="list-group">
            {% for question, options in zip(questions, options_dict) %}
                <li class="list-group-item">
                    <p><strong>Question:</strong> {{ question.question }}</p>   
                    <p><strong>Options possibles:</strong></p>
                    <ul>
                        {% for key, option in options.items() %}
                            <li>{{ key }}: {{ option }}</li>
                        {% endfor %}
                    </ul>         
                    <p><strong>Votre réponse:</strong> 
                        {% if participant_answers.get(question.question) %}
                            {{ participant_answers[question.question] | join(', ') }}
                        {% else %}
                            <span class="text-warning">Pas de réponse donnée</span>
                        {% endif %}
                    </p>
                    <p><strong>Réponse correcte:</strong> {{ correct_responses_dict[question.question] | join(', ') }}</p>
                    {% if participant_answers.get(question.question) == correct_responses_dict[question.question] %}
                        <p class="text-success"><i class="fas fa-check-circle"></i> Correct</p>
                    {% else %}
                        <p class="text-danger"><i class="fas fa-times-circle"></i> Incorrect</p>
                    {% endif %}
                    <!-- Afficher l'explication pour chaque question -->
                    <p><strong>Explication:</strong> {{ question.explication }}</p>
                </li>
            {% endfor %}
        </ul>
        <div class="mt-4">
            <a href="{{ url_for('progression') }}" class="btn btn-primary">Retour aux résultats</a>
        </div>
    </div>
    <!-- Inclure le script JavaScript de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
