<!DOCTYPE html>
<html>
<head>
    <title>React with Flask and Jinja</title>
    <!-- Import React -->
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <!-- Import Babel to compile JSX -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
        // Define a simple React component
        function App() {
            return (
                <div>
                    <h1>Hello from React!</h1>
                    <p>This is a simple example of using React with Flask and Jinja.</p>
                </div>
            );
        }
        // Render the component into the root element
        ReactDOM.render(<App />, document.getElementById('root'));
    </script>
</body>
</html>
