<!-- templates/menu_bar.html -->
<nav>
    <div class="logo">
        <i class="bx bx-menu menu-icon"></i>
        <span class="logo-name">Préserve ton Droit</span>
        <aside class="aside-background">
            <div class="social-icons">
                <a href="https://www.instagram.com/preservetondroit/?next=https%3A%2F%2Fwww.instagram.com%2Fmanav.manglani%2Fp%2FBv3PDqigZZZ%2F%3F__coig_login%3D1" target="_blank" class="btn btn-light">
                    <img src="{{ url_for('static', filename='images/instagram_logo.jpeg') }}" alt="Instagram" class="social-logo"> Instagram</a>
                <a href="https://twitter.com/PrsvTonDroit" target="_blank" class="btn btn-light" >
                    <img src="{{ url_for('static', filename='images/twitter_logo.png') }}" alt="Twitter" class="social-logo" > Twitter</a>
                <a href="https://www.tiktok.com/@preservetondroit?_t=8l4BIYlTWO9&_r=1"  target="_blank" class="btn btn-light" >
                    <img src="{{ url_for('static', filename='images/tiktok_logo.png') }}" target="_blank" alt="TikTok" class="social-logo"> Tiktok</a>
                <a href="https://www.paypal.com/paypalme/PreserveTonDroit"  target="_blank" class="btn btn-light" >
                    <img src="{{ url_for('static', filename='images/paypal_logo.png') }}" target="_blank" alt="Paypal" class="social-logo">Paypal</a>
                </div>
        </aside> 
    </div>
    <div class="sidebar">
        <div class="logo">
            <i class="bx bx-menu menu-icon"> </i>
            <span class="logo-name"> Menu </span>
        </div>
        <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                    <a href="{{ url_for('accueil')}}" class="nav-link">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="link">Accueil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('login') }}" class="nav-link">
                    <i class='bx bxs-user-circle icon'></i>
                    <span class="link">Connexion</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('profil') }}" class="nav-link">
                        <i class='bx bx-user-pin icon' ></i>
                        <span class="link">Profil</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('dashboard') }}" class="nav-link">
                        <i class="bx bxs-dashboard icon"></i>
                        <span class="link">Dashboard et classement</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('progression') }}" class="nav-link">
                        <i class="bx bx-list-check icon"></i>
                        <span class="link">Votre progression</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#" class="nav-link">
                        <i class="bx bx-group icon"></i>
                        <span class="link">Qui sommes-nous ?</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#" class="nav-link">
                        <i class="bx bx-calendar-event icon"></i>
                        <span class="link">Événements</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#" class="nav-link">
                        <i class="bx bx-bookmark icon"></i>
                        <span class="link">Projets</span>
                    </a>
                </li>
                <li class="list">
                    <a href="https://www.paypal.com/paypalme/PreserveTonDroit" target="_blank" class="nav-link">
                        <i class='bx bx-donate-heart icon'></i>
                        <span class="link">Dons Paypal</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('my_subscriptions') }}" class="nav-link">
                        <i class="bx bx-envelope icon"></i>
                        <span class="link">Abonnements</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('parrainage') }}" class="nav-link">
                        <i class='bx bxs-user-account icon' ></i>
                        <span class="link">Parrainage</span>
                    </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('logout') }}" class="nav-link">
                        <i class="bx bx-log-out icon"></i>
                        <span class="link">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="overlay"></section>
<script src="{{ url_for('static', filename='js/menu_bar.js') }}"></script>
