<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parrainage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/formulaire.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
</head>
<body class="body-top-right">
    <div class="container">
        <h1 class="text-center"> Faire du parrainage</h1>
        <h4 class="text-center"> Profitez cette offre de l'abonnement Bronze avec une réduction de 2 euros. </h4>
        <form action="/parrainage" method="post" class="card p-4">
            <div class="form-group">
                <label for="parrain_email">Entrer le mail de votre parrain:</label><br>
                <input type="email" id="parrain_email" name="parrain_email"><br><br>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Confirmer</button>
            {% if message %}
            <div class="alert alert-primary" role="alert" style="margin-top: 25px;">
                {{ message }}
            </div>
            {% endif %}
            {% if coupon_parrain %}
                <div class="alert alert-success mt-3" role="alert">
                    Votre code de parrainage pour l'offre de Bronze sur 1 mois est : <strong>{{ coupon_parrain }}</strong>
                </div>
            {% endif %}
            </div>
        <a href="/" class="text-black font-weight-bold regStr"> Revenir vers la page accueil</a>
        </form>
    </div>
</body>
</html>
