<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920,height=1080, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="{{ url_for('static', filename='styles/login.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
    <title>Connexion - PTD</title>
</head>
</style>
<body>
    <form method="post" action="/login">
    <div class="container">
        <div class="row mt-5">
          <div class="spContainer mx-auto">
            <div class="card px-3 py-5 border-0 shadow">
              <div class="d-inline text-left mb-3">
                <h3 class="font-weight-bold"></h3>
                <h2>Connectez-vous à la plateforme Ton droit, ton choix !</h2>
              </div>
              <div class="d-inline text-center mb-0">
                <div class="form-group mx-auto">
                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                </div>
              </div>
              <div class="d-inline text-center mb-3">
                <div class="form-group mx-auto">
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
                </div>
              </div>
              <div class="d-inline text-left mb-3">
                <div class="form-group mx-auto">
                  <button class="btn btn-primary">Se connecter</button>
                  <a class="small text-black-50 pl-2 ml-2 border-left" href="forgot_password">Mot de passe oublié ?</a>
                </div>
              </div>
              <div class="d-inline text-left mb-1">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% endwith %}
                <div class="d-inline text-left mt-3">
                  <div class="form-group mx-auto mb-0 d-flex justify-content-between">
                      <a class="text-black font-weight-bold regStr" href="register">Nouveau compte</a>
                      <a class="text-black font-weight-bold regStr" href="delete_account">Suppression compte</a>
                  </div>
                  <div style="margin-top: 30px;"> <!-- Ajout de marge supplémentaire -->
                    <a class="text-black font-weight-bold regStr" href="{{ url_for('accueil') }}">Revenir vers la page accueil</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>  
</body>
</html>