<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920,height=1080, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="{{ url_for('static', filename='styles/register.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_v2_PTD.jpg') }}">
    <title>Inscription - PTD</title>
</head>
<body>
    <form method="post" action="{{ url_for('register') }}">
    <div class="container">
        <div class="row mt-5">
          <div class="spContainer mx-auto">
            <div class="card px-4 py-5 border-0 shadow">
              <div class="d-inline text-left mb-3">
                <h3 class="font-weight-bold"></h3>
                <h1>Inscription</h1>
              </div>
              <div class="d-inline text-center mb-1">
                <div class="form-group mx-auto">
                    <input type="text" class="form-control" name="nom" placeholder="Nom" required>
                </div>
              </div>
              <div class="d-inline text-center mb-2">
                <div class="form-group mx-auto">
                    <input type="text" class="form-control" name="prenom" placeholder="Prénom" required>
                </div>
              </div>
              <div class="d-inline text-center mb-1">
                <div class="form-group mx-auto">
                    <input type="text" class="form-control" name="email" placeholder="Email" required>
                </div>
              </div>
              <div class="d-inline text-center mb-3">
                <div class="form-group mx-auto">
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
                </div>
              </div>
              <div class="d-inline text-left mb-3">
                <div class="form-group mx-auto">
                  <button class="btn btn-primary">S'inscrire</button>
                </div>
              </div>
                <a href="/login" class="text-black font-weight-bold regStr"> Revenir vers la page connexion</a>
                <a href="/" class="text-black font-weight-bold regStr" style="margin-top: 30px;"> Revenir vers la page d'accueil</a>
              </div>
                <div class="d-inline text-left mt-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>  
</body>
</html>