/* formulaire.css */

body {
    height: 100vh;
    background: #e9eef7;
    font-family: sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

.card {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 10px center;
    background-size: 12px;
}

.btn-primary {
    border-radius: 4px;
    border: none;
    background-color: #ff425f;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #de2c48 !important;
}
