.centered-text {
    text-align: center;
    font-family: "Times New Roman", Times, serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.topnav {
    background-color: #333;
    overflow: hidden;
}


.top-margin {
    margin-top: 40px; 
}

.col-md-3 {
    margin-top: 30px;
    font-family: "Times New Roman", Times, serif; 
    text-shadow: 2px 2px 4px rgba(34, 32, 32, 0.5); 
}



.col-md-4 {
    margin-top: 30px;
    font-family: "Times New Roman", Times, serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.aside-background {
    background-color: rgba(52, 73, 94);
    padding: 25px; 
}


.img-custom {
    position: absolute;
    width: 250px;
    height: 220px;
    top: 4.8%;
    right: 2%;
}

.alert {
    max-width: 500px; 
    margin: 0 auto; 
}

.video {
    margin-left: 450px; 
    top: 100%;
}


.title {
    text-align: center;
    font-family: Georgia, serif; /* Utilise la police Georgia avec des alternatives serif */
    margin-bottom: 20px;
    margin-left: 380px; 
    font-size: 30px;
    background-color: rgba(250, 240, 230, 0.9); /* Fond de couleur grise plus claire et transparente à 80% */
    padding: 10px 20px; /* Ajoute un peu de rembourrage */
    border-radius: 10px; /* Ajoute un peu de bord arrondi */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre lisse */
    width: 60%; /* Réduit la largeur de la bannière à 70% de la largeur du conteneur parent */
}


.social-logo {
    width: 30px; /* Redimensionner tous les logos en 30px de largeur */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    margin-right: 3px; /* Espacement entre les logos */
}


.social-icons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0%;
    right: 753px;
}
.social-icons a {
    margin: 0 10px; /* Marge entre les éléments */
}





