.centered-text {
    text-align: center;
}

.top-margin {
    margin-top: 40px; 
}

.col-md-3 {
    margin-top: 30px;
}

.col-md-4 {
    margin-top: 30px;
}

.img-custom {
    position: absolute;
    width: 250px;
    height: 220px;
    top: 0%;
    left: 43%;
}

body {
    margin-top: 420px; /* ajustez la valeur selon votre besoin */
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}


.alert {
    max-width: 500px; /* Définissez la largeur maximale de la boîte d'alerte */
    margin: 0 auto; /* Centrez la boîte d'alerte horizontalement */
}
